body { font-family: Arial, 
    sans-serif;
background-color: dodgerblue;
margin: auto;
}

.header, 
.footer { background-color: #003366; 
    color: white; 
    padding: 10px 20px; 
    width: 100%;  
    margin: auto;
        }

.header { 
    display: flex; 
    align-items: center; 
    margin-top: -10px;
    width: 100%;
      }
    
      .button{
        background-color: #147be9;
        border-radius: 10px;
        list-style: none;
        margin-right: 20px;
      }
   
      .button2{
        background-color: #147be9;
        border-radius: 10px;
        list-style: none;
        margin-right: 20px;
      }
    
      .button3{
        background-color: #147be9;
        border-radius: 10px;
        list-style: none;
        margin-right: 20px;
      }

.img1{
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
    margin-left: 700px;
}

.logo { font-size: 30px;
   margin-top: -60px; 
   margin-left: 180px;
   color: aqua;
   width: 50%;
   height: 25%;}

.nav a { color: white; 
    text-decoration: skyblue;
     padding: 0 10px; }

.footer { text-align: center; }

.social-icons img { width: 24px; 
    height: auto;
    color: white; }

.label{
    margin-left: 700px;
    display: flex;
}

.city{
    margin-top: 20px;
    height: 50%;
    margin-left: -40px;
    border-radius: 10px;
}

.label1{
    margin-top: 20px;
    height: 50%;
    border-radius: 10px;
}

.label2{
    margin-top: 20px;
    height: 50%;
    border-radius: 10px;
}

.people{
    margin-top: 20px;
    height: 50%;
    margin-left: 20px;
    border-radius: 10px;
}
.f{
    width: 100%;
    background-color: #147be9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.armenia{
    height: 19rem;
    width: 20rem;
}

.meta{
    height: 19rem;
    width: 20rem;
}

.nariño{
    height: 19rem;
    width: 20rem;
}

.cartagena{
    height: 19rem;
    width: 20rem;
}

.san_andres{
    height: 19rem;
    width: 20rem;
}

.pereira{
    height: 19rem;
    width: 20rem;
}

.cali{
    height: 19rem;
    width: 20rem;
}

.bucaramanga{
    height: 19rem;
    width: 20rem;
}

.guajira{
    height: 19rem;
    width: 20rem;
}

.medellin{
    height: 19rem;
    width: 20rem;
}

.choco{
    height: 19rem;
    width: 20rem;
}

.img{
   border-radius: 25px 25px 25px 25px;
   width: 19.5rem;
   height: 13rem;
}

.tittle{
    border-radius: 15px;
    background-color: bisque;
    margin: 5px;
    text-align: center;
}