body { font-family: Arial, 
    sans-serif;
background-color: dodgerblue; }

.header, 
.footer { background-color: #003366; 
    color: white; 
    padding: 10px 20px; 
    width: 100%;  
        }

.header { display: flex; 
    align-items: center; 
    margin-top: -10px;
    width: 100%;
      }
    
    .button{
        width: -200px;
        height: -200px;
        background-color: #147be9;
        border-radius: 10px;
        list-style: none;
        margin-right: 20px;
      }
    
      .button2{
        background-color: #147be9;
        border-radius: 10px;
        list-style: none;
        margin-right: 20px;
      }
    
      .button3{
        background-color: #147be9;
        border-radius: 10px;
        list-style: none;
        margin-right: 20px;
      }

.img1{
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
    margin-left: 700px;
}

.logo { font-size: 30px;
   margin-top: -60px; 
   margin-left: 180px;
   color: aqua;}

.nav a { color: white; 
    text-decoration: skyblue;
     padding: 0 10px; }

.footer { text-align: center; }

.social-icons img { width: 24px; 
    height: auto;
    color: white; }

.label{
    margin-left: 700px;
    display: flex;
}

.city{
    margin-top: 20px;
    height: 50%;
    margin-left: -40px;
    border-radius: 10px;
}

.label1{
    margin-top: 20px;
    height: 50%;
    border-radius: 10px;
}

.label2{
    margin-top: 20px;
    height: 50%;
    border-radius: 10px;
}

.people{
    margin-top: 20px;
    height: 50%;
    margin-left: 20px;
    border-radius: 10px;
}

.mn-son{
    border-radius: 15px;
    background-color: bisque;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.son1{
    display: flex;
    margin-left: -1500px;
    justify-content: space-around;
    flex-wrap: wrap;
    column-width: auto;
}




